@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --very-dark-desat-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    --light-gray-blue: hsl(240, 5%, 91%);
    --font-family: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-size: 15px;
    font-family: var(--font-family);
    overflow-x: hidden;
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-container {
    background-color: #fff;
    /* height: 600px; */
    width: 90%;
    max-width: 375px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 8rem auto;
    position: relative;
    border-radius: 20px;
}

.question-container::before {
    content: " ";
    background-image: url('images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    width: 270px;
    height: 190px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-55%, -55%);
}

.question-container::after {
    content: " ";
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    width: 270px;
    height: 190px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-45%, 0%);
}

.questions {
    /* background-color: pink; */
    /* max-width: 100%; */
    padding: 8rem 1.3rem 2.5rem;
    font-size: 12px;
}

.faq-title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 1.5rem;
    position: relative;
}

.question {
    font-weight: 400;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    width: 100%;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.q-title-text {
    font-size: 14px;
    padding-right: 1rem;
}

.q-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.q-text {
    padding-right: 2rem;
    line-height: 1.2rem;
    display: none;
}

.q-text.visible {
    display: block;
}