@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --very-dark-desat-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    --light-gray-blue: hsl(240, 5%, 91%);
    --font-family: 'Kumbh Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: var(--font-family);
    overflow: hidden;
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    background-position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* z-index: -10; */
}

.main-container {
    background-color: #fff;
    width: 90%;
    position: relative;
    top: 150px;
    left: 5%;
    border-radius: 20px;
}

.images {
    /* background-color: pink; */
    position: relative;
    top: -100px;
    left: 5%;
    width: 270px;
    height: 200px;
}

.bg-img {
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 200px;
    width: 270px;
    position: absolute;
    top: 115px;
    left: 11%;
}

.woman-img {
    background-image: url('images/illustration-woman-online-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 270px;
}

.faq-card {
    padding: 25px;
}

.faq-title {
    /* background-color: aquamarine; */
    margin: 0px 0 25px;
    text-align: center;
    font-size: 33px;
}

.faq-question {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--light-gray-blue);
    text-align: left;
}

.question-title {
    display: flex;
    justify-content: space-between;
}

.question-title h2 {
    font-size: 13px;
    margin: 0 0 10px;
    /* width: auto; */
}

.toggle-btn {
    background-image: url('images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    border: none;
    height: 13px;
    width: 13px;
    margin-top: 5px;
    cursor: pointer;
}

.question-answer {
    font-size: 12px;
    padding: 0 20px 0 0;
    display: none;
}

.question-answer.visible {
    display: block;
}